/* Основний стиль */

* {
    scroll-behaviour: smooth;
    font-family: 'Sansation', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    height: 80px;
}

nav {
   display: flex;
   align-items: center;
}

header a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding-right: 40px;
}

main {
    background-color: #79DEF1;
    padding-top: 20px;
    padding-bottom: 0px;
}

.rectangle-container_1,
.rectangle-container_2,
.rectangle-container_3,
.rectangle-container_4 {
    width: 10%;
    padding: 30px;
    color: #79DEF1;
    text-align: center;
    border-radius: 20px;
    position: relative;
    font-size: 15px;
    background-color:black;
    margin-right: 5%;
}

.rectangle-container_1 img,
.rectangle-container_2 img,
.rectangle-container_3 img,
.rectangle-container_4 img {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 25%;
}

.rectangle-container_1 {
    height: 100px;
}

.rectangle-container_2 {
    height: 130px;
}

.rectangle-container_3 {
    height: 150px;
}

.rectangle-container_4 {
    height: 170px;
}

.row_container {
    display: flex;
    justify-content: flex-end;
}

.skyscraper {
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    height: 30vh;
    background-image: url('photo/sky.png');
    background-position: left;
    background-size: cover;
}

.skyscraper h1 {
    font-size: 50px;
    margin-top: 50px;
    padding-left: 50px;
    color: black;
}

.steps_and_button {
    display: flex;
}

.steps {
    font-size: 30px;
    margin-top: 2px;
    padding-left: 40px;
    display:flex;
    flex-direction:column;
    width:400px;
}

button {
    width: 200px;
    height: 70px;
    color: #79DEF1;
    background-color: black;
    font-size: 16px;
    border-radius: 20px;
}

.steps h2 {
    padding-left: 60px;
}

.steps button {
    margin-top: 80px;
    margin-left: 75px;
}

.drive img {
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 500px;
    height:250px;
    margin-left:50px;
}

.payment {
    width: 80%;
    height: 200px;
    background-color: #334A4E;
    color: #79DEF1;
    display: flex;
}

.about_payment h2 {
    color: white;
    font-size: 30px;
    padding-left: 40px;
    margin-top: 20px;
}

.about_payment p {
    padding-left: 40px;
    margin-top: 20px;
    font-size: 18px;
}

.button_payment button {
    margin-top: 20px;
    margin-right: 20px;
}

.phone_photo img {
    height: 200px;
    width: 150px;
}

.solutions {
    width: 80%;
    height: 170px;
    background-color: #334A4E;
    color: #79DEF1;
    display: flex;
    margin-left: auto;
    margin-top:40px;
}

.about_solutions {
    display: flex;
    flex-direction: column;
}

.about_solutions h2 {
    color: white;
    font-size: 30px;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about_solutions p {
    padding-left: 40px;
    font-size: 18px;
}

.button_solutions {
    margin-left: auto;
    padding-right: 40px;
}

.button_solutions button {
    margin-top: 20px;
}

.photos_for_solutions {
    display: flex;
    justify-content:space-around;
}

.photos_for_solutions_1 img,
.photos_for_solutions_2 img {
    border-radius: 15px;
    margin-bottom: 30px;
    width: 400px;
    height: auto;
    margin-top: 20px;
    margin-left:40px;
    margin-right:40px;
}

.cubes {
    display: flex;
    text-align:center;
    justify-content:center;
    margin-top:30px;
}

.text_for_cubes h2{
   font-size:40px;
   text-align:center;
   margin-top:30px;
}

.cube img{
   margin-top:10px;
   margin-bottom:20px;
   width:100%;
}

.cube{
    margin-right: 30px;
    height:auto;
    font-size:20px;
    width:10%;
    padding:60px;
    padding-top:30px;
}

.city_img {
    margin-top:-10px;
    margin-bottom: -4px;
}

.city_img img {
    width: 100%;
    height: auto;
    padding-bottom: 0px;
}

footer {
    height: 200px;
    background-color: black;
    display:flex;
}

footer a{
    text-decoration:none;
    color:white;
    font-size:15px;
}

footer p{
    color:white;
    font-size:15px;
    padding-left:50px;
}

.logo_footer img{
    padding-top:15px;
    padding-bottom:15px;
    width:60%;
    height:auto;
    padding-left:40px;
}

.icons img{
    display:flex;
    width:6%;
}

.icons{
    display:flex;
    padding-bottom:15px;
    padding-left:50px;
}

.footer_part{
    flex-direction:column;
}

.footer_info{
    padding-top:40px;
    display:flex;
    flex-direction:column;
    padding-left:50px;
}

.bold_text a{
    margin-right:60px;
    font-weight: 700;
    font-weight: 700;
}

.plain_text a{
    margin-right:80px;
}

.plain_text{
    padding-top:30px;
}

.menu{
    width:30px;
    display:none;
}

.menu img{
    width:100%;

}

button a{
    text-decoration:none;
    color:#79DEF1;}






@media (max-width: 1190px) {
    nav a {
       font-size:15px;
    }
    .skyscraper {
        height: 150px;
    }
    .skyscraper h1 {
        font-size: 35px;
        align-items:center;
    }
    .steps_and_button {
        flex-direction:column;
    }
    .row_container{
        margin-top:15px;
    }

    .steps button{
        margin-top:15px;
        }
}



@media (max-width: 1140px) {
    .photos_for_solutions {
        flex-direction:column;
        align-items:center;
    }
    .plain_text {
        display:flex;
        flex-direction:column;
    }
    .plain_text a {
        padding-top:5px;
        font-size:12px;
    }
    .row_container {
        margin-top:20px;
    }
    .steps button {
        margin-top: 20px;
        margin-left: 75px;
    }
    .bold_text {
        flex-direction:column;
    }
    .bold_text a {
        font-size:12px;
    }
    .text_footer p {
        font-size:12px;
    }
    .payment p {
        font-size:15px;
        padding-bottom:20px;
    }
    .solutions p {
        font-size:15px;
        margin-right:10px;
    }
    .solutions h2 {
        font-size:20px;
    }
    .payment h2 {
        font-size:20px;
    }
    .payment p {
        font-size:15px;
    }
    .phone_photo img {
        height: auto;
        width: 60%;
        padding:10px;
    }
    button {
        width: 150px;
        height: 50px;
        font-size: 14px;
    }
    .payment {
        height:150px;
    }
    .solutions {
        height:150px;
    }
}


@media (max-width:1050px){
    nav{
    display:none;}

    .menu {
    display:block;}
}



@media (max-width: 1000px) {
    .payment {
        flex-direction: column;
        height: 200px;
    }
    .solutions {
        flex-direction: column;
        height: 180px;
    }
    .button_solutions button {
        margin-top: 5px;
    }
    .button_payment button {
        align-items: left;
        margin-left: 35px;
        margin-top: 0px;
    }
    .phone_photo img {
        display: none;
    }
}


@media (max-width: 700px) {
    .photos_for_solutions img{
        width:250px;
        height:auto;
    }
    .cubes {
        flex-direction:column;
        align-items:center;
    }
    .text_for_cubes h2 {
        font-size:25px;
    }
    .cube p {
        font-size:18px;
        margin-bottom:10px;
        width:100%;
    }
    .cube img {
        width:100px;
        height:auto;
    }
    .skyscraper {
        height: 15vh;
    }
    .skyscraper h1 {
        font-size: 25px;
        align-items:center;
        text-align:center;
    }
    .steps h2 {
        font-size: 25px;
    }
    .row_container {
        flex-direction: column;
        align-items: center;
    }
    .row_container h3 {
        font-size:15px;
    }
    .payment {
        height: 230px;
    }
    .solutions {
        height: 200px;
    }
    .drive img {
        width:400px;
        height:auto;
    }
    .rectangle-container_1,
    .rectangle-container_2,
    .rectangle-container_3,
    .rectangle-container_4 {
        width: 30%;
        margin-bottom: 5px;
    }
    .rectangle-container_1,
    .rectangle-container_2,
    .rectangle-container_3,
    .rectangle-container_4 h2 {
        padding-top: 50px;
    }
    .logo img{
    width:300px;}
    .menu img{
    width:100%;}
}


