* {
    scroll-behaviour: smooth;
    font-family: 'Sansation', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;

}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   }

nav {
   display: flex;
   align-items: center;
   }

header a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding-right: 40px;
}





main {
    background-color: #79DEF1;
    padding-top: 20px;
    padding-bottom: 0px;
}


.rectangle-container_1,
.rectangle-container_2,
.rectangle-container_3,
.rectangle-container_4 {
    width: 10%;
    padding: 30px;
    color: #79DEF1;
    text-align: center;
    border-radius: 20px;
    position: relative;
    font-size: 15px;
    background-color:black;
    margin-right: 5%;
}

.rectangle-container_1 img{
    position: absolute;
    top: 12px;
    left: 10px;
    width: 25%;
}

.rectangle-container_2 img{
    position: absolute;
    top: 12px;
    left: 10px;
    width: 20%;
}

.rectangle-container_3 img{
    position: absolute;
    top: 12px;
    left: 10px;
    width: 25%;
}

.rectangle-container_4 img{
    position: absolute;
    top: 12px;
    left: 10px;
    width: 25%;
}
.rectangle-container_1 {
    height: 100px;
}

.rectangle-container_2 {
    height: 130px;
}

.rectangle-container_3 {
    height: 150px;
}

.rectangle-container_4 {
    height: 170px;
}

.row_container {
    display: flex;
    justify-content: flex-end;


}

.skyscraper {
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    height: 30vh;
    background-image: url('photo/sky.png');
    background-position: left;
    background-size: cover;
}

.skyscraper h1 {
    font-size: 50px;
    margin-top: 50px;
    padding-left: 50px;
    color: black;
}

.steps_and_button {
    display: flex;
}

.steps {
    font-size: 30px;
    margin-top: 2px;
    padding-left: 40px;
    display:flex;
    flex-direction:column;
    width:400px;
}

button {
    width: 200px;
    height: 70px;
    color: #79DEF1;
    background-color: black;
    font-size: 16px;
    border-radius: 20px;
}

.steps h2 {
    padding-left: 60px;
}

.steps button {
    margin-top: 80px;
    margin-left: 75px;
}

.drive img {
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 500px;
    height:250px;
    margin-left:50px;
}



.payment {
    width: 80%;
    height: 200px;
    background-color: #334A4E;
    color: #79DEF1;
    display: flex;

}

.about_payment h2 {
    color: white;
    font-size: 30px;
    padding-left: 40px;
    margin-top: 20px;
}

.about_payment p {
    padding-left: 40px;
    margin-top: 20px;
    font-size: 18px;
}

.button_payment button {
    margin-top: 20px;
    margin-right: 20px;
}

.phone_photo img {
    height: 200px;
    width: 150px;
}



.solutions {
    width: 80%;
    height: 170px;
    background-color: #334A4E;
    color: #79DEF1;
    display: flex;
    margin-left: auto;
    margin-top:40px;
}

.about_solutions {
    display: flex;
    flex-direction: column;
}

.about_solutions h2 {
    color: white;
    font-size: 30px;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about_solutions p {
    padding-left: 40px;
    font-size: 18px;
}

.button_solutions {
    margin-left: auto;
    padding-right: 40px;
}

.button_solutions button {
    margin-top: 20px;

}

.photos_for_solutions {
    display: flex;
    justify-content:space-around;


}

.photos_for_solutions_1 img {
    border-radius: 15px;
    margin-bottom: 30px;
    width:350px;
    height:300px;
    margin-right:50px;
    margin-left:50px;
    margin-top:5px;
}

.photos_for_solutions_2 img{
    border-radius: 15px;
    margin-bottom: 30px;
    width:500px;
    height:250px;
    margin-right:50px;
    margin-left:50px;
    margin-top:30px;}



.cubes {
    display: flex;
    text-align:center;
    justify-content:center;
    margin-top:30px;

    }

.text_for_cubes h2{
   font-size:40px;
   text-align:center;
   margin-top:30px;

   }

.cube img{
   margin-top:10px;
   margin-bottom:20px;
   width:100%;

   }
.cube{
    margin-right: 30px;
    height:auto;
    font-size:20px;
    width:10%;
    padding:60px;
    padding-top:30px;

    }


.city_img {
    margin-top:-10px;
    margin-bottom: -4px;
}

.city_img img {
    width: 100%;
    height: auto;
    padding-bottom: 0px;

}



footer {
    height: 200px;
    background-color: black;
    display:flex;
}

footer a{
    text-decoration:none;
    color:white;
    font-size:15px;
    }

footer p{
    color:white;
    font-size:15px;
    padding-left:50px;
    }

.logo_footer img{
    padding-top:15px;
    padding-bottom:15px;
    width:60%;
    height:auto;
    padding-left:40px;
}


.icons img{
    display:flex;
    width:6%;

    }
.icons{
    display:flex;
    padding-bottom:15px;
    padding-left:50px;

    }

.footer_part{
    flex-direction:column;
    }

.footer_info{
    padding-top:40px;
    display:flex;
    flex-direction:column;
    padding-left:50px;
    }

.bold_text a{
    margin-right:60px;
    font-weight: 700;
    font-weight: 700;
    }

.plain_text a{
    margin-right:80px;
    }

.plain_text{
    padding-top:30px;
    }
